name: CI Testing

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x]
        test: [nestjs-authentication-and-authorization]

    steps:
      - uses: actions/checkout@v4
      - name: Use NodeJS ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup npm
        run: npm install -g npm

      - name: Setup Nodejs with npm caching
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Install dependencies
        run: npm i

      - name: Run unit test
        run: npm run test:unit

  e2e-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x]
    needs: [unit-tests]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup npm
        run: npm install -g npm

      - name: Setup Nodejs with npm caching
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Set Environment Variables
        uses: ./.github/actions/setvars
        with:
          varFilePath: ./.github/variables/myvars.env

      - name: Start Docker-Compose
        run: docker-compose -f docker-compose-test.yml up -d

      - name: Install dependencies
        run: npm i

      - name: Run tests
        run: npm run test:e2e

      - name: Stop Docker-Compose
        run: docker-compose -f docker-compose-test.yml down
